<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="dverma">

    <title>Griffin Global Group - Full Stack Developer</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/2-col-portfolio.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <!-- Navigates to the main repository where the code is saved right now -->
		<a class="navbar-brand" href="https://www.github.com/deepanverma19">Griffin Global Group - Full Stack Developer Challenge My Code</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="contacts.html">Contacts<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4" style="color:red"><b>Welcome to my web application<br></b>
	  <h5 style="color:blue"><i>
	  This web application allow the web UI user to communicate with non web UI user. It allows the web user to create and read
	  individual contacts where the contact name and method of communication are stored which is ideally E-Mail. The web UI allows 
	  web user to communicate with the existing contacts using conversations where the conversations are communication chain 
	  centered around a subject. Also the contact can respond on the communication chain and the message appears in the correct conversation.
	  </i></h5>
      </h1>

      <div class="row">
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="contacts.html"><img class="card-img-top" height="350px" src="img/contacts-icon.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="contacts.html">Contacts</a>
              </h4>
              <p class="card-text">Create a new contact or use the exisiting contacts to communicate</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; My Web Application for GGG-FSD</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
